.titulo{
    display: flex;
    justify-content: center;
}
.sub-titulo{
    display: flex;
    justify-content: center;
}
.itens-nav{
    display: flex;
    justify-content: flex-end;
}
main{
    padding: 1%;
}
.dados{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}
.certificado{
    display: flex;
    flex-direction: column;
}
.flecsbox{
    display: flex;
    justify-content: center;
}
.prampers{
    display: flex; 
    justify-content: center
}
.bloco{
    display: flex;
    flex-direction: column;
}
.legenda{
    display: flex;
    flex-direction: column;
}